@font-face {
    font-family: 'Modak';
    src: url('../../public/fonts/Modak/Modak-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

header, 
nav,
footer, 
footer > nav {
    background-color: #FCDC94;
}

main {
    flex: 1;
    padding: 4vh 4vw;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

main > h1 {
    text-align: center;
    margin-bottom: 5%;
   
}

main > h2 {
    margin-bottom: 5%;
}

.center-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.introductionHome,
.introductionText {
    text-align: center;
}

.introductionText {
    margin-bottom: 5%;
}

.overview-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
    padding-top: 20px;
}

.card {
    width: 20rem;
    padding: 15px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navlink:hover {
    text-decoration: underline;
}

@media  screen and (min-width: 320px) and (max-width: 768px) {
    
    body {
        height: 100lvh;
        height: 100svh;
        height: 100dvh;
        width: 100vw;
    }

    header .nav-link {
        font-size: 1rem;
    }
    
    main {
        width: 100vw;
    }

    .overview-container{
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin: auto;
    }

    .card {
        justify-self: center;
    }

    footer .mx-auto {
        align-items: center;
    }

    footer .nav-link {
        font-size: 0.8rem;
    }
}