.text-with-image {
    display: flex;
    flex-direction: row;
}

.textdiv {
    align-self: stretch;
}

.imgdiv {
    align-self: center;
}

.pageimg1 {
    border-radius: 50%;
    width: clamp(80px, 10vw, 150px);
    height: clamp(50px, 10vw, 150px);
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 20px;
    float: right;
    clear: both;    
}

.pageimg2 {
    border-radius: 50%;
    width: clamp(100px, 20vw, 200px);
    height: clamp(100px, 20vw, 200px);
    margin-top: -50px;
    float: right;
    clear: both;    
}
 