.addressContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addessDiv {
    margin-bottom: 5%;
}

p {
    margin-bottom: 0;
}

.telephone,
.email {
    margin-top: 5%;
}

p > a {
    color: #000;
    text-decoration: none;
}

.contactimg {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.mapsIframe {
    width: 500px;
    height: 300px;
    border: 0;
}

@media (min-width: 972px) and (max-width: 1120px) {
    .mapsIframe {
        width: 100%;
    }
}

@media screen and (max-width: 972px) {
    .addressContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .addressDiv {
        text-align: left;
    }

    .mapsIframe {
        width: 100%;
    }
}