.eventTable {
    width: 100%;
    border-collapse: collapse;
}

.eventTable th, .eventTable td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word; /* Ermöglicht Zeilenumbrüche */
    white-space: normal; /* Setzt den Standardwert für white-space */
}

.eventTable th {
    background-color: #f2f2f2;
    text-align: left;
}
