.link {
    color: #000; /* Schwarz */
    text-decoration: none; /* Optional: Entfernt die Unterstreichung */
    display: inline; 
    font-weight: bold;
}

/* Hover-Effekt für Links */
.link:hover {
    color: #000; /* Schwarz beim Hover */
    text-decoration: underline; /* Optional: Unterstreichen beim Hover */
}