.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCDC94;
    padding: 10px 20px;
}

.navbar-brand img {
    height: auto;
    width: 6vw;
    max-width: 120px;
    min-width: 50px; 
}

.hamburger {
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links.open {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #FCDC94;
    padding: 10px 0;
}

.nav-link {
    text-decoration: none;
    color: #EF9C66;
    font-size: 18px;
}

header .nav-link:focus,
header .nav-link:hover,
header .nav-link:active {
    text-decoration: underline;
    color: #EF9C66;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    color: #EF9C66;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fefefe;
    list-style: none;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    text-decoration: none;
    color: #EF9C66;
    padding: 5px 10px;
    display: block;
}

.dropdown-item.active {
    color: #fefefe;
    background-color: #EF9C66;
    
}

.dropdown-item:hover {
    color: #fefefe;
    background-color: #FCDC94;
}


@media screen and (max-width: 768px) {
    header .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .hamburger {
        background-color: #FCDC94; 
        border: none; 
        padding: 5px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger svg {
        background-color: #FCDC94; 
        border: none; 
        width: 32px; 
        height: 32px; 
        cursor: pointer;
        transition: transform 0.3s ease, filter 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .hamburger.open svg {
        transform: rotate(90deg); 
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .nav-links.open {
        display: flex;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        width: 98vw;
    }

    main {
        margin-top: 80px;
    }
}