.btn-primary {
    background-color: #FCDC94 !important;
    color: #EF9C66 !important;
    border: 1px solid #EF9C66 !important;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

.btn-primary:hover {
    background-color: #EF9C66 !important;
    color: #FCDC94 !important;
    border: 1px solid #FCDC94 !important;
}